html, body {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  canvas {
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }
  .page {
    background-color: #1D1717;
    height: 100%;
    overflow: hidden;
    position: relative;
    h3 {
      font-family: "Comic Sans MS", cursive, sans-serif;
      font-size: 60px;
      color: #B93C3F;
      left: 50%;
      top: 50%;
      padding: 0;
      margin: 0;
      position: absolute;
      transform: translate(-50%,-50%);
      z-index: 2;
    }
  }
  